 /* artist styling */
  .artist-container  {
     display: flex;
     flex-wrap: wrap;
    	Flex-direction: row;
	Justify-content: center;
	Align-items: center;
	gap: 1rem;
 gap: clamp(1rem, 1.5vw,1.25rem);
 width: 96%;
 }
 
 .artist-page-cont {
    display: flex;
     flex-wrap: wrap;
    	Flex-direction: column;
	Justify-content: center;
	Align-items: center;
	gap: 1rem;
 gap: clamp(1rem, 1.5vw,1.25rem);
 width: 100%;
 margin: auto;
 }
 
 .hdr-artist{
 background-size: cover;
    padding-top: 200px;
    padding-bottom: 100px;
 background-color: rgba(0,0,0,0.5);  
 /*}*/
 
 /*.hdr-text{*/
  display: flex;
     text-transform: capitalize;
     text-shadow: 0 4px 4px rgb(0 0 0 / 40%);
     justify-content: center;
     color: white;
     text-align: center!important;
     font-size: 3.052rem;
 }
 
 .artist-cards  {
     /*display: flex;*/
     /*flex-wrap: wrap;*/
     /*flex-direction: row;*/
     /*flex: 1 1 10em;*/
     /*justify-content: space-evenly;*/
     /*margin-top: 1rem;*/
      display: flex;
    flex-direction: row;
 justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    text-align: center;
     max-width: 550px;
    gap: 1rem;
	gap: clamp(1rem, 1.5vw, 1.25rem);


 margin: auto;

 }
 
 .artist-container > .artist-cards > .h3:hover{
     color: white;
 }
 
 .artist-container > .artist-cards > div {
      display: flex;
     flex-wrap: wrap;
    	Flex-direction: column;
	Justify-content: center;
	Align-items: center;
	gap: 1rem;
 gap: clamp(1rem, 1.5vw,1.25rem);
 width: 96%;
 margin: auto;
}
 
mui styling 
.css-3cbeai-MuiTypography-root{
 padding: 1rem 1rem 0 1rem!important;
 /*font-size: 4.0vw!important;*/
  text-transform: capitalize;
}
 .css-1j9yo1a-MuiTypography-root {
  margin: 0;
  /*font-size: 3.5vw!important;*/
  padding-top: 0!important;
 }
 .css-yi4r32-MuiSvgIcon-root{
  margin: 0;
  /*font-size: 3.0vw!important;*/
  padding-top: 0!important;
 }
.css-46bh2p-MuiCardContent-root {
 padding: 1vw 1vw 0 1vw!important;
 /*font-size: 3.0vw!important;*/
}

.css-ei73ns-MuiButtonBase-root-MuiButton-root{
 /*font-size: 3.0vw!important;*/
    align-items: center!important;
    text-transform: none!important;
}
.css-fsfnr0-MuiCardMedia-root{
    height: 100%;
}


 .card{
     margin: inherit;
 }

/* links and hovers */
 
a:link {
	text-decoration: none;
	color: white;
}

a:visited {
	text-decoration: none;
	color: white;
}

a:visited:hover{
     color:#FFDAB9;
}
a:hover {
	text-decoration: none;
	color: white;
}
a:active {
	text-decoration: none;
	color: white;
}

a:link:hover{
     color: #FFDAB9;
}

.h1 {
 text-align: center;
 font-size: 5.0vw!important;
}
 
 /* MAKE MEDIA QUERY FOR DESKTOPS BELOW */
 
/* @media only screen and (max-width: 821px) and (max-height: 1181px) {*/
/*mui styling */ 
/*.css-3cbeai-MuiTypography-root{*/
/* padding: 1rem 1rem 0 1rem!important;*/
/* font-size: 4.0vw!important;*/
/*}*/
/* .css-1j9yo1a-MuiTypography-root {*/
/*  margin: 0;*/
/*  font-size: 3.5vw!important;*/
/*  padding-top: 0!important;*/
/* }*/
/* .css-yi4r32-MuiSvgIcon-root{*/
/*  margin: 0;*/
/*  font-size: 3.0vw!important;*/
/*  padding-top: 0!important;*/
/* }*/
/*.css-46bh2p-MuiCardContent-root {*/
/* padding: 1vw 1vw 0 1vw!important;*/
/* font-size: 3.0vw!important;*/
/*}*/

/*.css-ei73ns-MuiButtonBase-root-MuiButton-root{*/
/* font-size: 3.0vw!important;*/
/*    align-items: center!important;*/
/*}*/
/*}*/

