 .Home {
 display: flex;
 flex-direction: column;
 justify-content: center;
	align-items: center;
	gap: 1rem;
	gap: clamp(1rem, 1.5vw, 1.25rem);
 width: 100%;
 margin: auto;
}
 /* image */
 
 .img-info{
  position: relative;
 
   display: flex;
 flex-direction: column;
 justify-content: center;
	align-items: center;
	gap: 1rem;
	gap: clamp(1rem, 1.5vw, 1.25rem);
 width: 100%;
  max-width: 1980px;
 margin: auto;
 }
.home-bg {
  filter: grayscale(100%);
  z-index: -1;
  height: 150%;
  width: 100%;
  /*margin: auto;*/
 }
 
/* && detail styling */
.info-row {
    display: flex;
    flex-direction: row;
 justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    text-align: center;
    /*justify-content: space-between;*/
    position: absolute;
    bottom: 0;
    height: 15%;
    /*bottom: -50%;*/
    gap: 1rem;
	gap: clamp(1rem, 1.5vw, 1.25rem);

 max-width: 1280px;
 margin: auto;
}
 
.info-row > .info-obj:hover {
   border: 0.2px;
   border-color: grey;
   border-style: solid;
   background-color: rgba(0,0,0,0.5);
   border-bottom: 0.5rem solid;
   border-bottom-color:#FFDAB9;;
 } 
 
.info-obj{
 display: flex;
 flex-direction: row;
 align-items: center;
    text-align: center;
 flex: 2 2 2em;
 justify-content: center;
 background-color: rgba(0,0,0,0.4);
 height: 100%;
 width: 100%;
 transition: .3s;
 }
 
 .info-obj > h5 > a{
  color: white;
 font-size: 30px;
    font-size: 2.0vw;
 }
 
  .info-obj > h5 {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
  }
 
 .info-obj >a > h5 {
   align-items: center;
   font-size: 20px;
font-size-adjust: 0.5;
 }
 .info-obj > h5 > a:hover {
  color: #FFDAB9;
 }
 
 .info-obj > a:hover  {
  color: #FFDAB9;
 }


  /*About section */
 .about > h1 {
     display: flex;
     text-transform: capitalize;
     text-shadow: 0 4px 4px rgb(0 0 0 / 40%);
     justify-content: center;
 }

 .about-logo {
  display: flex;
  justify-content:center;
  width: 50%;
  margin: auto;
  margin-top: 1rem;
  border-radius: 50%;
  height: 30%;
  border-color: red;
  border-bottom: 0.3rem outset grey;
 }
 
 .about > h2{
     display: flex;
     justify-content: center;
 }
 
 
 
 /* Footer */
 .footer-info {
      display: flex;
     flex-direction: row;
     width: 100%;
     background-color: #4f4a47;
     color: white;
     margin: auto;
      justify-content: space-evenly;
      padding-top: 1rem;
      align-items: center;
       padding-bottom: 0.5rem;
       border-top: 0.5rem solid;
       border-top-color:#FFDAB9;;
       height: 10%;
       margin-top: 1rem;
       margin-bottom: 0;
       flex-wrap: wrap;
 }
 .footer-info > .ftr-logos {
  display: flex;
  justify-content: space-between;
  width: 15%;
  margin: auto;
 }
 
 
 .footer-info > .ftr-notes {
  display: flex;
     flex-wrap: wrap;
    	Flex-direction: column;
	Justify-content: center;
	Align-items: center;
	gap: 1rem;
 gap: clamp(1rem, 1.5vw,1.25rem);
 margin: auto;
 }
 
 
.footer-info > .footer-cr {
     display: flex;
     flex-direction: row;
     width: 100%;
     background-color: black;
     color: grey;
      justify-content: center;
      font-size: 1.25vw;
 }
 