.header {
    /*  height: 90px;*/
    /*left: 0;*/
    /*overflow: hidden;*/
    position: absolute ;
    top: 0;
    width: 100%;
    z-index: 997;
    
    padding-bottom: 0;
    background-color: transparent;
    transition: .3s;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 900;
    
 
  display: flex;
     flex-wrap: wrap;
    	Flex-direction: column;
	Justify-content: center;
	Align-items: center;
	gap: 1rem;
 gap: clamp(1rem, 1.5vw,1.25rem);
margin: auto;
}

.header-bg {
     /*background-color: rgba(0,0,0,.9);*/
     /*transition: width 1s height 3s ease-in-out;*/
     /*align-items: center;*/
     /*justify-content: flex-start;*/
     /*position: absolute;*/
     /*display: flex;*/
      position: absolute ;
    top: 0;
    width: 100%;
    z-index: 997;
    
    padding-bottom: 0;
    background-color: transparent;
    transition: .3s;
    flex-direction: column;
    display: flex;
     font-family: 'Source Sans Pro', sans-serif;
    font-weight: 900;
    justify-content:center;
    align-content: center;
    align-items: center;
    
}

.logo-mob{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition:  1s  3s ease-in-out;
    transform: translateZ(100px);
    background-color: rgba(0,0,0,0);
    
}

.logo > img {
    display: flex;
    width: 20%;
    height: 100%;
    border-radius: 50%;
    margin: auto;
    border-bottom-style: outset;
    padding-top: 15px;
}
.logo-dis{
    display: none;
    
}
.header .navbar {
    display: flex;
    justify-content:center;
    align-content: center;
    align-items: center;
    max-width: 1240px;
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    margin: auto;
    height: 100%;
   flex-direction: column;
}

.header .nav-menu a {
    color: #FFDAB9;
    width: auto;
    height: auto;
}

.header .navbar img {
    width: auto;
    height: auto;
}

.header .nav-menu {
    display: flex;
    margin-left: auto;
    margin-right: 80px;
    justify-content: center;
    align-items: center;
    align-content: center;
    
     
}

.header .nav-item {
    display: flex;
    justify-content: center;
    font-weight: 500;
    align-items: center;
    align-content: center;
    font-family: 'Source Sans Pro', sans-serif;
    margin-left: 0;
    margin-right: auto;
    font-size: 32px;
   
}

.header .nav-item:hover a{
      color: #FFFFFF;
}

.hamburger {
    display: none;
}



@media (max-width: 1280px) {
     .nav-menu-active {
    background-color: #4f4a47;
    z-index: 3;
    position: fixed;
    top: 0px;
    bottom: 0px;
    transition: -webkit-transform 0.3s ease-out 0s;
    will-change: transform;
    overflow-y: auto;
    background: rgb(75, 76, 75);
    /*width: 300px;*/
    right: 0px;
    transform: translateX(0%);
    box-shadow: rgb(0 0 0 / 15%) -2px 2px 4px;
    margin: 0;
    
      display: flex;
     flex-wrap: wrap;
    	Flex-direction: column;
	Justify-content: center;
	Align-items: center;
	gap: 1rem;
 gap: clamp(1rem, 1.5vw,1.25rem);
 width: 35%;
}
ul.nav-menu-active {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: white;
}

.nav-menu-active > .nav-item> a:hover {
    color: #FFDAB9;
}
    .header .nav-menu {
        display: none;
    }
    
    a.logo{
            align-items: flex-start;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    margin-left: auto;  
    
        cursor: pointer;
   Justify-content: center;

	gap: 1rem;
 gap: clamp(1rem, 1.5vw,1.25rem);
 width: 96%;
 margin: auto;
    }
    
    .header{
    z-index: 2;
   transform: translateZ(0px);
    top: 0px;
    width: 96%;
    position: fixed;
    transform: unset!important;
    display: flex;
        flex-direction: row;
         justify-content: center;
	align-items: center;
	margin: auto;
	right: 0;
	left: 0;
	flex-wrap: nowrap;
    }
  


    .hamburger {
        display: flex;
        cursor: pointer;
   Justify-content: center;
	Align-items: center;
	gap: 1rem;
 gap: clamp(1rem, 1.5vw,1.25rem);
 width: 96%;
 margin: auto;
 
    }
        .header .navbar {
            margin-right: 0;
            
        }
}