body {
	font-family: verdana;
	min-height: 100vh;
	font-family: -apple-system, BlinkMacSystemFont, sans-serif;
	margin: 0;

	font-weight: 300;
}

i:hover {
	cursor: pointer;
}

form {
	display: flex;
	flex-direction: column;
}

table {
	display: flex;
	flex-direction: column;
}

thead td {
	font-weight: bold;
}

tr {
	display: flex;
	justify-content: space-between;
}

td {
	flex: 1;
	text-align: center;
}

a:link {
	text-decoration: none;
	color: black;
}
a:visited {
	text-decoration: none;
	color: white;

}
a:hover {
	text-decoration: none;
	color: black;
}
a:active {
	text-decoration: none;
	color: black;
}

.bold {
	font-weight: bold;
}

.bottom-right {
	position: absolute;
	bottom: 10px;
	right: 10px;
	height: 50px;
	background-color: #f6bd60;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	transition: transform 2s;
	border-radius: 4px;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: 300;
	font-size: 0.7rem;
	padding: 0 0.25rem;
}

.hidden {
	transform: translateY(70px);
	transition: transform 2s;
}

.loginBody {
	display: flex;
	justify-content: center;
	background-image: url('homeLogo.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	align-items: center;
	min-height: calc(100vh - 120px);
	font-family: 'lato', sans-serif;
}

.registerBody {
	display: flex;
	justify-content: center;
	background-image: url('welcomeLogo.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	align-items: center;
	min-height: 100%;
	font-family: 'lato', sans-serif;
	color: #fff;
}

.loginContainer {
	border-radius: 5px;
	width: 450px;
	display: flex;
	padding: 2rem;
	flex-direction: column;
	background-color: #fff;
	color: #84a59d;
}

.loginContainer h2 {
	font-weight: 300;
}

.loginContainer > .oneLine {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.oneLine span {
	display: flex;
	flex-direction: column;
}

.loginContainer label {
	margin-bottom: 0.5rem;
}

.loginContainer input {
	margin-bottom: 1rem;
}

.centered {
	color: #7b9992;
	display: flex;
	justify-content: center;
}

.createAccount {
	display: flex;
	color: #7b9992;
}
.createAccountButton {
	text-transform: uppercase;
	color: #7b9992;
	letter-spacing: 2px;
	border: 0;
	outline: 0;
	box-sizing: border-box;
	border-radius: 4px;
	font-weight: 300;
	padding: 0.5rem;
	font-size: 0.5rem;
}

.createAccountButton:hover {
	cursor: pointer;
	background-color: #6c9288;
}

.past-orders {
	display: flex;
	flex-direction: column;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: "lato", sans-serif;;
  margin: 40px;
  background-color: white;
  border-radius: 1px;
  flex-wrap: wrap;
}

h2 {
  color: #7b9992;
  text-transform: uppercase;
}


.Home-employee-portal {
	position: fixed;
	display: flex;
	justify-content: center;
	bottom: 0;
	width: 100%;
	padding: 1rem;
}
